sdk/longlink/.static/xsd/primitives/Page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base.xsd" />

  <xsd:complexType name="PageType">
    <xsd:complexContent>
      <xsd:extension base="PageChildrenType">
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="icon" type="xsd:string" use="optional" />
        <xsd:anyAttribute processContents="lax" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Page" type="PageType" />
</xsd:schema>
