sdk/longlink/.static/xsd/html/br.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BrType">
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="className" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:element name="br" type="BrType" />
</xsd:schema>
