sdk/longlink/.static/xsd/html/sup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SupChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="sup" type="SupType" />
</xsd:schema>
