sdk/longlink/.static/xsd/components/MenuSubSection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base.xsd" />
  <xsd:complexType name="MenuSubSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType">
        <xsd:attribute name="title" type="xsd:string" use="optional" />
        <xsd:attribute name="root" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MenuSubSection" type="MenuSubSectionType" />
</xsd:schema>
