docs/src/public/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="LonglinkChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LonglinkChildrenType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="LonglinkChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LonglinkType">
    <xsd:complexContent>
      <xsd:extension base="LonglinkChildrenType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="longlink" type="LonglinkType" />
  <xsd:complexType name="StateType">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:element name="State" type="StateType">
    <xsd:annotation>
      <xsd:documentation>Use id to name the slot and any additional attributes as state fields.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ForChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ForType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="each" type="xsd:string" use="required" />
    <xsd:attribute name="as" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:element name="For" type="ForType" />
  <xsd:complexType name="QueryType">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="path" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:element name="Query" type="QueryType" />
  <xsd:complexType name="PChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="PType" mixed="true"><xsd:complexContent><xsd:extension base="PChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="P" type="PType" />
  <xsd:complexType name="AChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="AChildrenOnlyType">
        <xsd:attribute name="href" type="xsd:string" use="optional" />
        <xsd:attribute name="active" use="optional" default="hover">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="always" />
              <xsd:enumeration value="hover" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="A" type="AType" />
  <xsd:complexType name="BrType">
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:element name="Br" type="BrType" />
  <xsd:complexType name="BChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="BType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="BChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="B" type="BType" />
  <xsd:complexType name="H1ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H1Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="H1ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H1" type="H1Type" />
  <xsd:complexType name="H2ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H2Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="H2ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H2" type="H2Type" />
  <xsd:complexType name="H3ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H3Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="H3ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H3" type="H3Type" />
  <xsd:complexType name="H4ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H4Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="H4ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H4" type="H4Type" />
  <xsd:complexType name="CodeChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="CodeType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="CodeChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Code" type="CodeType" />
  <xsd:complexType name="SChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="S" type="SType" />
  <xsd:complexType name="SupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SupChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Sup" type="SupType" />
  <xsd:complexType name="SubChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SubType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SubChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Sub" type="SubType" />
  <xsd:complexType name="UChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="UType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="UChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="U" type="UType" />
  <xsd:complexType name="UlChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="UlType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="UlChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Ul" type="UlType" />
  <xsd:complexType name="LiChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="LiType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="LiChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Li" type="LiType" />
  <xsd:complexType name="OlChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="OlType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="OlChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Ol" type="OlType" />
  <xsd:complexType name="ButtonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ButtonType" mixed="true">
    <xsd:annotation>
      <xsd:documentation>Use nested XML children as the button label.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ButtonChildrenOnlyType">
        <xsd:attribute name="submit" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="xs" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
              <xsd:enumeration value="icon" />
              <xsd:enumeration value="icon-xs" />
              <xsd:enumeration value="icon-sm" />
              <xsd:enumeration value="icon-lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="secondary" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Button" type="ButtonType">
    <xsd:annotation>
      <xsd:documentation>Renders an action button.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="ActionChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ActionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionChildrenOnlyType">
        <xsd:attribute name="action" type="xsd:string" use="optional" />
        <xsd:attribute name="json" type="xsd:string" use="optional" />
        <xsd:attribute name="invalidate" type="xsd:string" use="optional" />
        <xsd:attribute name="method" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Action" type="ActionType" />
  <xsd:complexType name="InputChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputChildrenOnlyType">
        <xsd:attribute name="aria-invalid" type="xsd:string" use="optional" />
        <xsd:attribute name="autoComplete" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
        <xsd:attribute name="type" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Input" type="InputType" />
  <xsd:complexType name="ButtonGroupTextChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ButtonGroupTextType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ButtonGroupTextChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ButtonGroupText" type="ButtonGroupTextType" />
  <xsd:complexType name="ButtonGroupSeparatorType">
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="orientation" use="optional" default="vertical">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="horizontal" />
          <xsd:enumeration value="vertical" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="ButtonGroupSeparator" type="ButtonGroupSeparatorType" />

  <xsd:complexType name="ButtonGroupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="Button" />
        <xsd:element ref="Action" />
        <xsd:element ref="Input" />
        <xsd:element ref="ButtonGroupText" />
        <xsd:element ref="ButtonGroupSeparator" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ButtonGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ButtonGroupChildrenOnlyType">
        <xsd:attribute name="orientation" use="optional" default="horizontal">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="horizontal" />
              <xsd:enumeration value="vertical" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ButtonGroup" type="ButtonGroupType" />
  <xsd:complexType name="InputGroupAddonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupAddonType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupAddonChildrenOnlyType">
        <xsd:attribute name="align" use="optional" default="inline-start">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="inline-start" />
              <xsd:enumeration value="inline-end" />
              <xsd:enumeration value="block-start" />
              <xsd:enumeration value="block-end" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupAddon" type="InputGroupAddonType" />
  <xsd:complexType name="InputGroupButtonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupButtonType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupButtonChildrenOnlyType">
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="xs">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="xs" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="icon-xs" />
              <xsd:enumeration value="icon-sm" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="type" use="optional" default="button">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="button" />
              <xsd:enumeration value="submit" />
              <xsd:enumeration value="reset" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="ghost">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="secondary" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupButton" type="InputGroupButtonType" />
  <xsd:complexType name="InputGroupTextChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupTextType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupTextChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupText" type="InputGroupTextType" />
  <xsd:complexType name="InputGroupInputChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupInputType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupInputChildrenOnlyType">
        <xsd:attribute name="aria-invalid" type="xsd:string" use="optional" />
        <xsd:attribute name="autoComplete" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="type" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupInput" type="InputGroupInputType" />
  <xsd:complexType name="InputGroupTextareaChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupTextareaType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupTextareaChildrenOnlyType">
        <xsd:attribute name="cols" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="rows" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupTextarea" type="InputGroupTextareaType" />

  <xsd:complexType name="InputGroupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="InputGroupAddon" />
        <xsd:element ref="InputGroupButton" />
        <xsd:element ref="InputGroupText" />
        <xsd:element ref="InputGroupInput" />
        <xsd:element ref="InputGroupTextarea" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroup" type="InputGroupType" />
  <xsd:complexType name="AvatarChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AvatarType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="AvatarChildrenOnlyType">
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AvatarImageType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="AvatarChildrenOnlyType">
        <xsd:attribute name="src" type="xsd:string" use="optional" />
        <xsd:attribute name="alt" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AvatarFallbackType" mixed="true"><xsd:complexContent><xsd:extension base="AvatarChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:complexType name="AvatarBadgeType" mixed="true"><xsd:complexContent><xsd:extension base="AvatarChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="Avatar" type="AvatarType" />
  <xsd:element name="AvatarImage" type="AvatarImageType" />
  <xsd:element name="AvatarFallback" type="AvatarFallbackType" />
  <xsd:element name="AvatarBadge" type="AvatarBadgeType" />
  <xsd:complexType name="CheckboxChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="CheckboxType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="CheckboxChildrenOnlyType">
        <xsd:attribute name="checked" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultChecked" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Checkbox" type="CheckboxType" />
  <xsd:complexType name="FieldLegendChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldLegendType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldLegendChildrenOnlyType">
        <xsd:attribute name="variant" use="optional" default="legend">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="legend" />
              <xsd:enumeration value="label" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldLegend" type="FieldLegendType" />
  <xsd:complexType name="FieldChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldChildrenOnlyType">
        <xsd:attribute name="orientation" use="optional" default="vertical">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="vertical" />
              <xsd:enumeration value="horizontal" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Field" type="FieldType" />
  <xsd:complexType name="FieldContentChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldContentChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldContent" type="FieldContentType" />
  <xsd:complexType name="FieldLabelChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldLabelType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldLabelChildrenOnlyType">
        <xsd:attribute name="htmlFor" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldLabel" type="FieldLabelType" />
  <xsd:complexType name="FieldTitleChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldTitleType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldTitleChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldTitle" type="FieldTitleType" />
  <xsd:complexType name="FieldDescriptionChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldDescriptionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldDescriptionChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldDescription" type="FieldDescriptionType" />
  <xsd:complexType name="FieldSeparatorChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldSeparatorType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldSeparatorChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldSeparator" type="FieldSeparatorType" />
  <xsd:complexType name="FieldErrorChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldErrorType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldErrorChildrenOnlyType">
        <xsd:attribute name="errors" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldError" type="FieldErrorType" />

  <xsd:complexType name="FieldSetChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldSetType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldSetChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldSet" type="FieldSetType" />

  <xsd:complexType name="HeroChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="HeroType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="HeroChildrenOnlyType">
        <xsd:attribute name="icon" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HeroTitleType" mixed="true"><xsd:complexContent><xsd:extension base="HeroChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:complexType name="HeroDescriptionType" mixed="true"><xsd:complexContent><xsd:extension base="HeroChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:complexType name="HeroActionType" mixed="true"><xsd:complexContent><xsd:extension base="HeroChildrenOnlyType" /></xsd:complexContent></xsd:complexType>

  <xsd:element name="Hero" type="HeroType" />
  <xsd:element name="HeroTitle" type="HeroTitleType" />
  <xsd:element name="HeroDescription" type="HeroDescriptionType" />
  <xsd:element name="HeroAction" type="HeroActionType" />
  <xsd:complexType name="BadgeChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="BadgeType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="BadgeChildrenOnlyType">
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="secondary" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Badge" type="BadgeType" />
  <xsd:complexType name="ColumnsChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ColumnsType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ColumnsChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ColumnType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ColumnsChildrenOnlyType">
        <xsd:attribute name="width" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Columns" type="ColumnsType" />
  <xsd:element name="Column" type="ColumnType">
    <xsd:annotation>
      <xsd:documentation>Renders a column. Column widths should add up to 100 across the row.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GridChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="GridType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="GridChildrenOnlyType">
        <xsd:attribute name="columns" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Grid" type="GridType" />
  <xsd:complexType name="StackChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="StackType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="StackChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Stack" type="StackType" />
  <xsd:complexType name="CardChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="CardType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="CardChildrenOnlyType">
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Card" type="CardType" />
  <xsd:complexType name="DialogChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="DialogType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="DialogChildrenOnlyType">
        <xsd:attribute name="open" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultOpen" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DialogTriggerType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="DialogChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DialogContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="DialogChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DialogTitleType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="DialogChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DialogDescriptionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="DialogChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Dialog" type="DialogType" />
  <xsd:element name="DialogTrigger" type="DialogTriggerType" />
  <xsd:element name="DialogContent" type="DialogContentType" />
  <xsd:element name="DialogTitle" type="DialogTitleType" />
  <xsd:element name="DialogDescription" type="DialogDescriptionType" />
  <xsd:complexType name="HrType" />

  <xsd:element name="Hr" type="HrType" />
  <xsd:complexType name="IconType">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:element name="Icon" type="IconType" />
  <xsd:complexType name="LabelChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="LabelType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="LabelChildrenOnlyType">
        <xsd:attribute name="htmlFor" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Label" type="LabelType" />
  
  <xsd:complexType name="TextareaChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TextareaType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextareaChildrenOnlyType">
        <xsd:attribute name="cols" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="rows" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Textarea" type="TextareaType" />
  <xsd:complexType name="SelectChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SelectType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
        <xsd:attribute name="defaultOpen" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="open" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectTriggerType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectValueType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectLabelType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectItemType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SelectSeparatorType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SelectChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Select" type="SelectType" />
  <xsd:element name="SelectTrigger" type="SelectTriggerType" />
  <xsd:element name="SelectValue" type="SelectValueType" />
  <xsd:element name="SelectContent" type="SelectContentType" />
  <xsd:element name="SelectGroup" type="SelectGroupType" />
  <xsd:element name="SelectLabel" type="SelectLabelType" />
  <xsd:element name="SelectItem" type="SelectItemType" />
  <xsd:element name="SelectSeparator" type="SelectSeparatorType" />
  <xsd:complexType name="SwitchChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SwitchType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SwitchChildrenOnlyType">
        <xsd:attribute name="checked" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultChecked" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Switch" type="SwitchType" />
  <xsd:complexType name="SliderChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SliderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SliderChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="max" type="xsd:string" use="optional" />
        <xsd:attribute name="min" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="orientation" type="xsd:string" use="optional" />
        <xsd:attribute name="step" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Slider" type="SliderType" />
  <xsd:complexType name="ToggleChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ToggleType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ToggleChildrenOnlyType">
        <xsd:attribute name="pressed" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultPressed" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Toggle" type="ToggleType" />
  <xsd:complexType name="ToggleGroupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ToggleGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ToggleGroupChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="loopFocus" type="xsd:string" use="optional" />
        <xsd:attribute name="orientation" use="optional" default="horizontal">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="horizontal" />
              <xsd:enumeration value="vertical" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="spacing" type="xsd:string" use="optional" />
        <xsd:attribute name="type" use="optional" default="single">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="single" />
              <xsd:enumeration value="multiple" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="optional" />
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ToggleGroupItemType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ToggleGroupChildrenOnlyType">
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="ToggleGroup" type="ToggleGroupType" />
  <xsd:element name="ToggleGroupItem" type="ToggleGroupItemType" />
  <xsd:complexType name="RadioGroupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="RadioGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="RadioGroupChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="form" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="readOnly" type="xsd:string" use="optional" />
        <xsd:attribute name="required" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RadioGroupItemType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="RadioGroupChildrenOnlyType">
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="readOnly" type="xsd:string" use="optional" />
        <xsd:attribute name="required" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RadioGroup" type="RadioGroupType" />
  <xsd:element name="RadioGroupItem" type="RadioGroupItemType" />
  <xsd:complexType name="TableChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TableType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableHeaderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableBodyType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableFooterType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableRowType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableHeadType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableCellType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Table" type="TableType" />
  <xsd:element name="TableHeader" type="TableHeaderType" />
  <xsd:element name="TableBody" type="TableBodyType" />
  <xsd:element name="TableFooter" type="TableFooterType" />
  <xsd:element name="TableRow" type="TableRowType" />
  <xsd:element name="TableHead" type="TableHeadType" />
  <xsd:element name="TableCell" type="TableCellType" />
  <xsd:complexType name="TabsChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TabsType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TabsChildrenOnlyType">
        <xsd:attribute name="default" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TabType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TabsChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="label" type="xsd:string" use="required" />
        <xsd:attribute name="icon" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Tabs" type="TabsType">
    <xsd:annotation>
      <xsd:documentation>Tabs let users switch between related panels.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Tab" type="TabType" />
  <xsd:complexType name="MenuChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="MenuType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MenuSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MenuSubSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Menu" type="MenuType" />
  <xsd:element name="MenuSection" type="MenuSectionType" />
  <xsd:element name="MenuSubSection" type="MenuSubSectionType" />
</xsd:schema>
