sdk/longlink/.static/xsd/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="AnyElementType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:complexType name="ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:complexType name="ActionableType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType">
        <xsd:attribute name="action" type="xsd:string" use="optional" />
        <xsd:attribute name="method" type="xsd:string" use="optional" />
        <xsd:attribute name="payload" type="xsd:string" use="optional" />
        <xsd:attribute name="invalidate" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
