sdk/longlink/.static/xsd/react/Button.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ButtonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ButtonActionableType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ButtonChildrenOnlyType">
        <xsd:attribute name="action" type="xsd:string" use="optional" />
        <xsd:attribute name="json" type="xsd:string" use="optional" />
        <xsd:attribute name="invalidate" type="xsd:string" use="optional" />
        <xsd:attribute name="method" type="xsd:string" use="optional" />
        <xsd:attribute name="submit" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="xs" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
              <xsd:enumeration value="icon" />
              <xsd:enumeration value="icon-xs" />
              <xsd:enumeration value="icon-sm" />
              <xsd:enumeration value="icon-lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="secondary" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ButtonType" mixed="true"><xsd:complexContent><xsd:extension base="ButtonActionableType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="Button" type="ButtonType" />
</xsd:schema>
