sdk/longlink/.static/xsd/react/ButtonGroupSeparator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ButtonGroupSeparatorType">
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="orientation" use="optional" default="vertical">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="horizontal" />
          <xsd:enumeration value="vertical" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="ButtonGroupSeparator" type="ButtonGroupSeparatorType" />
</xsd:schema>
