sdk/longlink/.static/xsd/react/Checkbox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CheckboxChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="CheckboxType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="CheckboxChildrenOnlyType">
        <xsd:attribute name="checked" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultChecked" type="xsd:string" use="optional" />
        <xsd:attribute name="className" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Checkbox" type="CheckboxType" />
</xsd:schema>
