sdk/longlink/.static/xsd/react/Dialog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base.xsd" />
  <xsd:complexType name="DialogType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="Dialog" type="DialogType" />
  <xsd:complexType name="DialogContentType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogContent" type="DialogContentType" />
  <xsd:complexType name="DialogDescriptionType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogDescription" type="DialogDescriptionType" />
  <xsd:complexType name="DialogFooterType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogFooter" type="DialogFooterType" />
  <xsd:complexType name="DialogHeaderType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogHeader" type="DialogHeaderType" />
  <xsd:complexType name="DialogTitleType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogTitle" type="DialogTitleType" />
  <xsd:complexType name="DialogTriggerType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="DialogTrigger" type="DialogTriggerType" />
</xsd:schema>
