sdk/longlink/.static/xsd/react/FieldSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="FieldLegend.xsd" />
  <xsd:include schemaLocation="FieldGroup.xsd" />
  <xsd:include schemaLocation="Field.xsd" />
  <xsd:include schemaLocation="FieldContent.xsd" />
  <xsd:include schemaLocation="FieldLabel.xsd" />
  <xsd:include schemaLocation="FieldTitle.xsd" />
  <xsd:include schemaLocation="FieldDescription.xsd" />
  <xsd:include schemaLocation="FieldSeparator.xsd" />
  <xsd:include schemaLocation="FieldError.xsd" />

  <xsd:complexType name="FieldSetChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldSetType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldSetChildrenOnlyType">
        <xsd:attribute name="className" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldSet" type="FieldSetType" />
</xsd:schema>
