sdk/longlink/.static/xsd/react/Icon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="IconType">
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="className" type="xsd:string" use="optional" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:element name="Icon" type="IconType" />
</xsd:schema>
