sdk/longlink/.static/xsd/react/Icon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="IconChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="IconType" mixed="true"><xsd:complexContent><xsd:extension base="IconChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="Icon" type="IconType" />
</xsd:schema>
