sdk/longlink/.static/xsd/react/InputGroupAddon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="InputGroupAddonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupAddonType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupAddonChildrenOnlyType">
        <xsd:attribute name="align" use="optional" default="inline-start">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="inline-start" />
              <xsd:enumeration value="inline-end" />
              <xsd:enumeration value="block-start" />
              <xsd:enumeration value="block-end" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupAddon" type="InputGroupAddonType" />
</xsd:schema>
