sdk/longlink/.static/xsd/react/Slider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SliderChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SliderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SliderChildrenOnlyType">
        <xsd:attribute name="className" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="max" type="xsd:string" use="optional" />
        <xsd:attribute name="min" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="orientation" type="xsd:string" use="optional" />
        <xsd:attribute name="step" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Slider" type="SliderType" />
</xsd:schema>
