sdk/longlink/.static/xsd/react/Switch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SwitchChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="SwitchType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="SwitchChildrenOnlyType">
        <xsd:attribute name="checked" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultChecked" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="size" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Switch" type="SwitchType" />
</xsd:schema>
