sdk/longlink/.static/xsd/react/Table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../base.xsd" />
  <xsd:complexType name="TableType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="Table" type="TableType" />
  <xsd:complexType name="TableBodyType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableBody" type="TableBodyType" />
  <xsd:complexType name="TableCellType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableCell" type="TableCellType" />
  <xsd:complexType name="TableFooterType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableFooter" type="TableFooterType" />
  <xsd:complexType name="TableHeadType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableHead" type="TableHeadType" />
  <xsd:complexType name="TableHeaderType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableHeader" type="TableHeaderType" />
  <xsd:complexType name="TableRowType" mixed="true"><xsd:complexContent><xsd:extension base="ChildrenOnlyType" /></xsd:complexContent></xsd:complexType>
  <xsd:element name="TableRow" type="TableRowType" />
</xsd:schema>
