sdk/longlink/.static/xsd/react/Text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TextType">
    <xsd:attribute name="text" type="xsd:string" use="optional" />
    <xsd:attribute name="value" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:element name="Text" type="TextType" />
</xsd:schema>
