sdk/longlink/.static/xsd/react/Textarea.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TextareaChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TextareaType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextareaChildrenOnlyType">
        <xsd:attribute name="cols" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="rows" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Textarea" type="TextareaType" />
</xsd:schema>
