sdk/longlink/.static/xsd/adapters/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="AChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AType">
    <xsd:complexContent>
      <xsd:extension base="AChildrenOnlyType">
        <xsd:attribute name="href" type="xsd:string" use="optional" />
        <xsd:attribute name="to" type="xsd:string" use="optional" />
        <xsd:attribute name="active" use="optional" default="hover">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="always" />
              <xsd:enumeration value="hover" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="A" type="AType" />
</xsd:schema>
