sdk/longlink/.static/xsd/adapters/Avatar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="AvatarChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AvatarType">
    <xsd:complexContent>
      <xsd:extension base="AvatarChildrenOnlyType">
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AvatarImageType">
    <xsd:complexContent>
      <xsd:extension base="AvatarChildrenOnlyType">
        <xsd:attribute name="src" type="xsd:string" use="optional" />
        <xsd:attribute name="alt" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AvatarFallbackType"><xsd:complexContent><xsd:extension base="AvatarChildrenOnlyType"><xsd:attribute name="i18n" type="TranslationKeyType" use="optional" /></xsd:extension></xsd:complexContent></xsd:complexType>
  <xsd:complexType name="AvatarBadgeType"><xsd:complexContent><xsd:extension base="AvatarChildrenOnlyType"><xsd:attribute name="i18n" type="TranslationKeyType" use="optional" /></xsd:extension></xsd:complexContent></xsd:complexType>
  <xsd:element name="Avatar" type="AvatarType" />
  <xsd:element name="AvatarImage" type="AvatarImageType" />
  <xsd:element name="AvatarFallback" type="AvatarFallbackType" />
  <xsd:element name="AvatarBadge" type="AvatarBadgeType" />
</xsd:schema>
