sdk/longlink/.static/xsd/adapters/Avatar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="AvatarType">
    <xsd:attribute name="src" type="xsd:string" use="optional" />
    <xsd:attribute name="fallbackSrc" type="xsd:string" use="optional" />
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="alt" type="xsd:string" use="optional" />
    <xsd:attribute name="size" type="AvatarSizeType" use="optional" default="md" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="Avatar" type="AvatarType">
    <xsd:annotation><xsd:documentation>Renders a data-oriented Astryx avatar.</xsd:documentation></xsd:annotation>
  </xsd:element>
</xsd:schema>
