sdk/longlink/.static/xsd/adapters/Badge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BadgeChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="BadgeType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="BadgeChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Badge" type="BadgeType" />
</xsd:schema>
