sdk/longlink/.static/xsd/adapters/Badge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="BadgeType">
    <xsd:attribute name="label" type="NonBlankStringType" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
    <xsd:attribute name="values" type="xsd:string" use="optional" />
    <xsd:attribute name="count" type="xsd:string" use="optional" />
    <xsd:attribute name="variant" type="BadgeVariantType" use="optional" default="neutral" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="Badge" type="BadgeType">
    <xsd:annotation><xsd:documentation>Renders an Astryx status or category badge.</xsd:documentation></xsd:annotation>
    <xsd:key name="BadgeAccessibleLabel">
      <xsd:selector xpath="." />
      <xsd:field xpath="@label | @i18n" />
    </xsd:key>
  </xsd:element>
</xsd:schema>
