sdk/longlink/.static/xsd/adapters/Card.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CardChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="CardType">
    <xsd:complexContent>
      <xsd:extension base="CardChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Card" type="CardType" />
</xsd:schema>
