sdk/longlink/.static/xsd/adapters/Columns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ColumnsChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ColumnsType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ColumnsChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ColumnType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ColumnsChildrenOnlyType">
        <xsd:attribute name="width" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Columns" type="ColumnsType" />
  <xsd:element name="Column" type="ColumnType">
    <xsd:annotation>
      <xsd:documentation>Renders a column. Column widths should add up to 100 across the row.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
