sdk/longlink/.static/xsd/adapters/FieldDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="FieldDescriptionChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldDescriptionType">
    <xsd:complexContent>
      <xsd:extension base="FieldDescriptionChildrenOnlyType">
        <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldDescription" type="FieldDescriptionType" />
</xsd:schema>
