sdk/longlink/.static/xsd/adapters/Field.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="FieldChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="FieldChildrenOnlyType">
        <xsd:attribute name="orientation" use="optional" default="vertical">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="vertical" />
              <xsd:enumeration value="horizontal" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Field" type="FieldType" />
</xsd:schema>
