sdk/longlink/.static/xsd/adapters/FieldLegend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="FieldLegendChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="FieldLegendType">
    <xsd:complexContent>
      <xsd:extension base="FieldLegendChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
        <xsd:attribute name="variant" use="optional" default="legend">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="legend" />
              <xsd:enumeration value="label" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="FieldLegend" type="FieldLegendType" />
</xsd:schema>
