sdk/longlink/.static/xsd/adapters/For.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ForType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="each" type="xsd:string" use="required" />
    <xsd:attribute name="as" type="xsd:string" use="required" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="For" type="ForType">
    <xsd:annotation><xsd:documentation>Renders its children once for each array item.</xsd:documentation></xsd:annotation>
  </xsd:element>
</xsd:schema>
