sdk/longlink/.static/xsd/adapters/FormLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="FormLayoutType">
    <xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" /></xsd:sequence>
    <xsd:attribute name="direction" type="FormDirectionType" use="optional" default="vertical" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="FormLayout" type="FormLayoutType">
    <xsd:annotation><xsd:documentation>Arranges Astryx form fields.</xsd:documentation></xsd:annotation>
  </xsd:element>
</xsd:schema>
