sdk/longlink/.static/xsd/adapters/h2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="H2ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H2Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="H2ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H2" type="H2Type" />
</xsd:schema>
