sdk/longlink/.static/xsd/adapters/h3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="H3ChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="i18n" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="H3Type">
    <xsd:complexContent>
      <xsd:extension base="H3ChildrenOnlyType">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="H3" type="H3Type" />
</xsd:schema>
