sdk/longlink/.static/xsd/adapters/Hero.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="HeroChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="HeroType">
    <xsd:complexContent>
      <xsd:extension base="HeroChildrenOnlyType">
        <xsd:attribute name="icon" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HeroTitleType">
    <xsd:complexContent>
      <xsd:extension base="HeroChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="HeroDescriptionType">
    <xsd:complexContent>
      <xsd:extension base="HeroChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HeroActionType"><xsd:complexContent><xsd:extension base="HeroChildrenOnlyType" /></xsd:complexContent></xsd:complexType>

  <xsd:element name="Hero" type="HeroType" />
  <xsd:element name="HeroTitle" type="HeroTitleType" />
  <xsd:element name="HeroDescription" type="HeroDescriptionType" />
  <xsd:element name="HeroAction" type="HeroActionType" />
</xsd:schema>
