sdk/longlink/.static/xsd/adapters/InputGroupButton.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="InputGroupButtonChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupButtonType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="InputGroupButtonChildrenOnlyType">
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="xs">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="xs" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="icon-xs" />
              <xsd:enumeration value="icon-sm" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="type" use="optional" default="button">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="button" />
              <xsd:enumeration value="submit" />
              <xsd:enumeration value="reset" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="ghost">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
              <xsd:enumeration value="ghost" />
              <xsd:enumeration value="destructive" />
              <xsd:enumeration value="link" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupButton" type="InputGroupButtonType" />
</xsd:schema>
