sdk/longlink/.static/xsd/adapters/InputGroupText.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="InputGroupTextChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="InputGroupTextType">
    <xsd:complexContent>
      <xsd:extension base="InputGroupTextChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="InputGroupText" type="InputGroupTextType" />
</xsd:schema>
