sdk/longlink/.static/xsd/adapters/Longlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="LonglinkType">
    <xsd:annotation>
      <xsd:documentation>Contains one LongLink XML page. Page name and icon are metadata.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="strict" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="optional" />
    <xsd:attribute name="icon" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="longlink" type="LonglinkType">
    <xsd:annotation><xsd:documentation>Defines a LongLink XML page.</xsd:documentation></xsd:annotation>
  </xsd:element>
</xsd:schema>
