sdk/longlink/.static/xsd/adapters/Menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="MenuChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="MenuType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MenuSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="icon" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="MenuSubSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="MenuChildrenOnlyType">
        <xsd:attribute name="value" type="xsd:string" use="required" />
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Menu" type="MenuType" />
  <xsd:element name="MenuSection" type="MenuSectionType" />
  <xsd:element name="MenuSubSection" type="MenuSubSectionType" />
</xsd:schema>
