sdk/longlink/.static/xsd/adapters/Query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="QueryType">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="path" type="xsd:string" use="required" />
  </xsd:complexType>

  <xsd:element name="Query" type="QueryType" />
</xsd:schema>
