sdk/longlink/.static/xsd/adapters/RadioGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RadioGroupChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="RadioGroupType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="RadioGroupChildrenOnlyType">
        <xsd:attribute name="defaultValue" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="form" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="readOnly" type="xsd:string" use="optional" />
        <xsd:attribute name="required" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="RadioGroupItemType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="RadioGroupChildrenOnlyType">
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
        <xsd:attribute name="readOnly" type="xsd:string" use="optional" />
        <xsd:attribute name="required" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="RadioGroup" type="RadioGroupType" />
  <xsd:element name="RadioGroupItem" type="RadioGroupItemType" />
</xsd:schema>
