sdk/longlink/.static/xsd/adapters/RadioList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="RadioListType">
    <xsd:sequence><xsd:element ref="RadioListItem" minOccurs="1" maxOccurs="unbounded" /></xsd:sequence>
    <xsd:attribute name="label" type="NonBlankStringType" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
    <xsd:attribute name="values" type="xsd:string" use="optional" />
    <xsd:attribute name="count" type="xsd:string" use="optional" />
    <xsd:attribute name="value" type="xsd:string" use="optional" />
    <xsd:attribute name="size" type="CompactSizeType" use="optional" default="md" />
    <xsd:attribute name="orientation" type="OrientationType" use="optional" default="vertical" />
    <xsd:attribute name="description" type="xsd:string" use="optional" />
    <xsd:attribute name="htmlName" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
    <xsd:attribute name="disabledMessage" type="xsd:string" use="optional" />
    <xsd:attribute name="status" type="InputStatusType" use="optional" />
    <xsd:attribute name="statusMessage" type="xsd:string" use="optional" />
    <xsd:attribute name="isDisabled" type="xsd:string" use="optional" />
    <xsd:attribute name="isRequired" type="xsd:string" use="optional" />
    <xsd:attribute name="isOptional" type="xsd:string" use="optional" />
    <xsd:attribute name="isLabelHidden" type="xsd:string" use="optional" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="RadioListItemType">
    <xsd:attribute name="value" type="NonBlankStringType" use="required" />
    <xsd:attribute name="label" type="NonBlankStringType" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
    <xsd:attribute name="values" type="xsd:string" use="optional" />
    <xsd:attribute name="count" type="xsd:string" use="optional" />
    <xsd:attribute name="description" type="xsd:string" use="optional" />
    <xsd:attribute name="isDisabled" type="xsd:string" use="optional" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="RadioList" type="RadioListType">
    <xsd:annotation><xsd:documentation>Collects one value from an accessible Astryx radio group.</xsd:documentation></xsd:annotation>
    <xsd:key name="RadioListAccessibleLabel">
      <xsd:selector xpath="." />
      <xsd:field xpath="@label | @i18n" />
    </xsd:key>
  </xsd:element>
  <xsd:element name="RadioListItem" type="RadioListItemType">
    <xsd:annotation><xsd:documentation>Defines one RadioList option.</xsd:documentation></xsd:annotation>
    <xsd:key name="RadioListItemAccessibleLabel">
      <xsd:selector xpath="." />
      <xsd:field xpath="@label | @i18n" />
    </xsd:key>
  </xsd:element>
</xsd:schema>
