sdk/longlink/.static/xsd/adapters/Stack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="StackChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="StackType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="StackChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Stack" type="StackType" />
</xsd:schema>
