sdk/longlink/.static/xsd/adapters/State.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="StateType">
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="value" type="xsd:string" use="optional" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:element name="State" type="StateType" />
</xsd:schema>
