sdk/longlink/.static/xsd/adapters/Switch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="SwitchType">
    <xsd:attribute name="label" type="NonBlankStringType" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
    <xsd:attribute name="values" type="xsd:string" use="optional" />
    <xsd:attribute name="count" type="xsd:string" use="optional" />
    <xsd:attribute name="value" type="xsd:string" use="optional" />
    <xsd:attribute name="description" type="xsd:string" use="optional" />
    <xsd:attribute name="htmlName" type="xsd:string" use="optional" />
    <xsd:attribute name="width" type="xsd:string" use="optional" />
    <xsd:attribute name="disabledMessage" type="xsd:string" use="optional" />
    <xsd:attribute name="labelPosition" type="SwitchLabelPositionType" use="optional" default="end" />
    <xsd:attribute name="labelSpacing" type="SwitchLabelSpacingType" use="optional" default="hug" />
    <xsd:attribute name="status" type="InputStatusType" use="optional" />
    <xsd:attribute name="statusMessage" type="xsd:string" use="optional" />
    <xsd:attribute name="isDisabled" type="xsd:string" use="optional" />
    <xsd:attribute name="isRequired" type="xsd:string" use="optional" />
    <xsd:attribute name="isOptional" type="xsd:string" use="optional" />
    <xsd:attribute name="isLabelHidden" type="xsd:string" use="optional" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="Switch" type="SwitchType">
    <xsd:annotation><xsd:documentation>Collects an on or off setting with Astryx Switch.</xsd:documentation></xsd:annotation>
    <xsd:key name="SwitchAccessibleLabel">
      <xsd:selector xpath="." />
      <xsd:field xpath="@label | @i18n" />
    </xsd:key>
  </xsd:element>
</xsd:schema>
