sdk/longlink/.static/xsd/adapters/Table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="DataTableChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="DataTableType">
    <xsd:complexContent>
      <xsd:extension base="DataTableChildrenOnlyType">
        <xsd:attribute name="as" type="xsd:string" use="optional" />
        <xsd:attribute name="data" type="xsd:string" use="required" />
        <xsd:attribute name="empty" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataColumnType">
    <xsd:complexContent>
      <xsd:extension base="DataTableChildrenOnlyType">
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="field" type="xsd:string" use="optional" />
        <xsd:attribute name="header" type="xsd:string" use="optional" />
        <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataHeaderType">
    <xsd:complexContent>
      <xsd:extension base="DataTableChildrenOnlyType">
        <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DataCellType">
    <xsd:complexContent>
      <xsd:extension base="DataTableChildrenOnlyType">
        <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DataTable" type="DataTableType" />
  <xsd:element name="DataColumn" type="DataColumnType" />
  <xsd:element name="DataHeader" type="DataHeaderType" />
  <xsd:element name="DataCell" type="DataCellType" />
</xsd:schema>
