sdk/longlink/.static/xsd/adapters/Table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TableChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="TableType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableHeaderType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableBodyType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableFooterType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableRowType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableHeadType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableCellType">
    <xsd:complexContent>
      <xsd:extension base="TableChildrenOnlyType">
        <xsd:attribute name="i18n" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Table" type="TableType" />
  <xsd:element name="Thead" type="TableHeaderType" />
  <xsd:element name="TableHeader" type="TableHeaderType" />
  <xsd:element name="Tbody" type="TableBodyType" />
  <xsd:element name="TableBody" type="TableBodyType" />
  <xsd:element name="Tfoot" type="TableFooterType" />
  <xsd:element name="TableFooter" type="TableFooterType" />
  <xsd:element name="Tr" type="TableRowType" />
  <xsd:element name="TableRow" type="TableRowType" />
  <xsd:element name="Th" type="TableHeadType" />
  <xsd:element name="TableHead" type="TableHeadType" />
  <xsd:element name="Td" type="TableCellType" />
  <xsd:element name="TableCell" type="TableCellType" />
</xsd:schema>
