sdk/longlink/.static/xsd/adapters/Text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Types.xsd" />
  <xsd:complexType name="TextType">
    <xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" /></xsd:sequence>
    <xsd:attribute name="value" type="xsd:string" use="optional" />
    <xsd:attribute name="i18n" type="TranslationKeyType" use="optional" />
    <xsd:attribute name="values" type="xsd:string" use="optional" />
    <xsd:attribute name="count" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="TypographyType" use="optional" default="body" />
    <xsd:attribute name="color" type="TextColorType" use="optional" default="primary" />
    <xsd:attribute name="weight" type="FontWeightType" use="optional" />
    <xsd:attribute name="display" type="TextDisplayType" use="optional" default="inline" />
    <xsd:attribute name="justify" type="AlignType" use="optional" default="start" />
    <xsd:attribute name="as" type="TextElementType" use="optional" default="span" />
    <xsd:attribute name="maxLines" type="xsd:nonNegativeInteger" use="optional" />
    <xsd:attribute name="hasStrikethrough" type="xsd:string" use="optional" />
    <xsd:attribute name="hasTabularNumbers" type="xsd:string" use="optional" />
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="Text" type="TextType">
    <xsd:annotation><xsd:documentation>Renders semantic Astryx text.</xsd:documentation></xsd:annotation>
  </xsd:element>
</xsd:schema>
