sdk/longlink/.static/xsd/adapters/Toggle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ToggleChildrenOnlyType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="if" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="ToggleType">
    <xsd:complexContent>
      <xsd:extension base="ToggleChildrenOnlyType">
        <xsd:attribute name="pressed" type="xsd:string" use="optional" />
        <xsd:attribute name="defaultPressed" type="xsd:string" use="optional" />
        <xsd:attribute name="disabled" type="xsd:string" use="optional" />
        <xsd:attribute name="id" type="xsd:string" use="optional" />
        <xsd:attribute name="size" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="sm" />
              <xsd:enumeration value="lg" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="variant" use="optional" default="default">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="default" />
              <xsd:enumeration value="outline" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Toggle" type="ToggleType" />
</xsd:schema>
