sdk/longlink/.static/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="AnyElementType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:complexType name="ChildrenOnlyType" mixed="true">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Page" type="PageType" />
        <xsd:element name="State" type="StateType" />
        <xsd:element name="For" type="ForType" />
        <xsd:element name="Query" type="QueryType" />
        <xsd:element name="blockquote" type="BlockquoteType" />
        <xsd:element name="code" type="CodeType" />
        <xsd:element name="h1" type="H1Type" />
        <xsd:element name="h2" type="H2Type" />
        <xsd:element name="h3" type="H3Type" />
        <xsd:element name="h4" type="H4Type" />
        <xsd:element name="li" type="LiType" />
        <xsd:element name="p" type="PType" />
        <xsd:element name="ul" type="UlType" />
        <xsd:element name="Card" type="CardType" />
        <xsd:element name="CardAction" type="CardActionType" />
        <xsd:element name="CardContent" type="CardContentType" />
        <xsd:element name="CardDescription" type="CardDescriptionType" />
        <xsd:element name="CardFooter" type="CardFooterType" />
        <xsd:element name="CardHeader" type="CardHeaderType" />
        <xsd:element name="CardTitle" type="CardTitleType" />
        <xsd:element name="Column" type="ColumnType" />
        <xsd:element name="Columns" type="ColumnsType" />
        <xsd:element name="Dialog" type="DialogType" />
        <xsd:element name="DialogContent" type="DialogContentType" />
        <xsd:element name="DialogDescription" type="DialogDescriptionType" />
        <xsd:element name="DialogFooter" type="DialogFooterType" />
        <xsd:element name="DialogHeader" type="DialogHeaderType" />
        <xsd:element name="DialogTitle" type="DialogTitleType" />
        <xsd:element name="DialogTrigger" type="DialogTriggerType" />
        <xsd:element name="Hero" type="HeroType" />
        <xsd:element name="Menu" type="MenuType" />
        <xsd:element name="MenuSection" type="MenuSectionType" />
        <xsd:element name="MenuSubSection" type="MenuSubSectionType" />
        <xsd:element name="Stack" type="StackType" />
        <xsd:element name="Tabs" type="TabsType" />
        <xsd:element name="TabsContent" type="TabsContentType" />
        <xsd:element name="TabsList" type="TabsListType" />
        <xsd:element name="TabsTrigger" type="TabsTriggerType" />
        <xsd:element name="Button" type="ButtonType" />
        <xsd:element name="Checkbox" type="CheckboxType" />
        <xsd:element name="Icon" type="IconType" />
        <xsd:element name="Input" type="InputType" />
        <xsd:element name="Range" type="RangeType" />
        <xsd:element name="Select" type="SelectType" />
        <xsd:element name="Separator" type="SeparatorType" />
        <xsd:element name="Slider" type="SliderType" />
        <xsd:element name="Switch" type="SwitchType" />
        <xsd:element name="Table" type="TableType" />
        <xsd:element name="TableBody" type="TableBodyType" />
        <xsd:element name="TableCell" type="TableCellType" />
        <xsd:element name="TableHead" type="TableHeadType" />
        <xsd:element name="TableHeader" type="TableHeaderType" />
        <xsd:element name="TableRow" type="TableRowType" />
        <xsd:element name="Textarea" type="TextareaType" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:complexType name="LabeledContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType">
        <xsd:attribute name="label" type="xsd:string" use="optional" />
        <xsd:attribute name="description" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActionableType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType">
        <xsd:attribute name="action" type="xsd:string" use="optional" />
        <xsd:attribute name="method" type="xsd:string" use="optional" />
        <xsd:attribute name="url" type="xsd:string" use="optional" />
        <xsd:attribute name="payload" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TextInputType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionableType">
        <xsd:attribute name="name" type="xsd:string" use="optional" />
        <xsd:attribute name="bind" type="xsd:string" use="optional" />
        <xsd:attribute name="kind" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="xsd:string" use="optional" />
        <xsd:attribute name="placeholder" type="xsd:string" use="optional" />
        <xsd:attribute name="required" type="xsd:boolean" use="optional" />
        <xsd:attribute name="disabled" type="xsd:boolean" use="optional" />
        <xsd:attribute name="submit" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- PRIMITIVES  -->
  <!-- <Page name="example-page" icon="layout-grid">...</Page> -->
  <xsd:complexType name="PageType">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="State" type="StateType" />
        <xsd:element name="For" type="ForType" />
        <xsd:element name="Query" type="QueryType" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required" />
    <xsd:attribute name="icon" type="xsd:string" use="optional" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <xsd:element name="Page" type="PageType" />

  <!-- <State />  -->
  <xsd:complexType name="StateType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <!-- <Query />  -->
  <xsd:complexType name="QueryType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="path" type="xsd:string" use="required" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <!-- <For />  -->
  <xsd:complexType name="ForType">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="each" type="xsd:string" use="required" />
    <xsd:attribute name="as" type="xsd:string" use="required" />
    <xsd:anyAttribute processContents="lax" />
  </xsd:complexType>

  <!-- <blockquote>...</blockquote> -->
  <xsd:complexType name="BlockquoteType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="blockquote" type="BlockquoteType" />

  <!-- <code>...</code> -->
  <xsd:complexType name="CodeType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="code" type="CodeType" />

  <!-- <h1>...</h1> -->
  <xsd:complexType name="H1Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="h1" type="H1Type" />

  <!-- <h2>...</h2> -->
  <xsd:complexType name="H2Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="h2" type="H2Type" />

  <!-- <h3>...</h3> -->
  <xsd:complexType name="H3Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="h3" type="H3Type" />

  <!-- <h4>...</h4> -->
  <xsd:complexType name="H4Type" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="h4" type="H4Type" />

  <!-- <li>...</li> -->
  <xsd:complexType name="LiType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="li" type="LiType" />

  <!-- <p>...</p> -->
  <xsd:complexType name="PType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="p" type="PType" />

  <!-- <ul>...</ul> -->
  <xsd:complexType name="UlType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ul" type="UlType" />

  <!-- <Card>...</Card> -->
  <xsd:complexType name="CardType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Card" type="CardType" />

  <!-- <CardAction action="submit" method="post" url="/cards" payload="{\"id\":1}">...</CardAction> -->
  <xsd:complexType name="CardActionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionableType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardAction" type="CardActionType" />

  <!-- <CardContent>...</CardContent> -->
  <xsd:complexType name="CardContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardContent" type="CardContentType" />

  <!-- <CardDescription label="Description">...</CardDescription> -->
  <xsd:complexType name="CardDescriptionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardDescription" type="CardDescriptionType" />

  <!-- <CardFooter>...</CardFooter> -->
  <xsd:complexType name="CardFooterType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardFooter" type="CardFooterType" />

  <!-- <CardHeader>...</CardHeader> -->
  <xsd:complexType name="CardHeaderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardHeader" type="CardHeaderType" />

  <!-- <CardTitle>...</CardTitle> -->
  <xsd:complexType name="CardTitleType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CardTitle" type="CardTitleType" />

  <!-- <Column>...</Column> -->
  <xsd:complexType name="ColumnType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Column" type="ColumnType" />

  <!-- <Columns>...</Columns> -->
  <xsd:complexType name="ColumnsType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Columns" type="ColumnsType" />

  <!-- <Dialog>...</Dialog> -->
  <xsd:complexType name="DialogType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Dialog" type="DialogType" />

  <!-- <DialogContent>...</DialogContent> -->
  <xsd:complexType name="DialogContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogContent" type="DialogContentType" />

  <!-- <DialogDescription>...</DialogDescription> -->
  <xsd:complexType name="DialogDescriptionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogDescription" type="DialogDescriptionType" />

  <!-- <DialogFooter>...</DialogFooter> -->
  <xsd:complexType name="DialogFooterType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogFooter" type="DialogFooterType" />

  <!-- <DialogHeader>...</DialogHeader> -->
  <xsd:complexType name="DialogHeaderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogHeader" type="DialogHeaderType" />

  <!-- <DialogTitle>...</DialogTitle> -->
  <xsd:complexType name="DialogTitleType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogTitle" type="DialogTitleType" />

  <!-- <DialogTrigger>...</DialogTrigger> -->
  <xsd:complexType name="DialogTriggerType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DialogTrigger" type="DialogTriggerType" />

  <!-- <Hero>...</Hero> -->
  <xsd:complexType name="HeroType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Hero" type="HeroType" />

  <!-- <Menu>...</Menu> -->
  <xsd:complexType name="MenuType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Menu" type="MenuType" />

  <!-- <MenuSection>...</MenuSection> -->
  <xsd:complexType name="MenuSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MenuSection" type="MenuSectionType" />

  <!-- <MenuSubSection>...</MenuSubSection> -->
  <xsd:complexType name="MenuSubSectionType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MenuSubSection" type="MenuSubSectionType" />

  <!-- <Stack>...</Stack> -->
  <xsd:complexType name="StackType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Stack" type="StackType" />

  <!-- <Tabs>...</Tabs> -->
  <xsd:complexType name="TabsType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Tabs" type="TabsType" />

  <!-- <TabsContent>...</TabsContent> -->
  <xsd:complexType name="TabsContentType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TabsContent" type="TabsContentType" />

  <!-- <TabsList>...</TabsList> -->
  <xsd:complexType name="TabsListType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TabsList" type="TabsListType" />

  <!-- <TabsTrigger>...</TabsTrigger> -->
  <xsd:complexType name="TabsTriggerType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TabsTrigger" type="TabsTriggerType" />

  <!-- <Button>...</Button> -->
  <xsd:complexType name="ButtonType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionableType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Button" type="ButtonType" />

  <!-- <Checkbox>...</Checkbox> -->
  <xsd:complexType name="CheckboxType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionableType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Checkbox" type="CheckboxType" />

  <!-- <Icon>...</Icon> -->
  <xsd:complexType name="IconType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Icon" type="IconType" />

  <!-- <Input>...</Input> -->
  <xsd:complexType name="InputType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextInputType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Input" type="InputType" />

  <!-- <Range>...</Range> -->
  <xsd:complexType name="RangeType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextInputType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Range" type="RangeType" />

  <!-- <Select>...</Select> -->
  <xsd:complexType name="SelectType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextInputType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Select" type="SelectType" />

  <!-- <Separator>...</Separator> -->
  <xsd:complexType name="SeparatorType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Separator" type="SeparatorType" />

  <!-- <Slider>...</Slider> -->
  <xsd:complexType name="SliderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextInputType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Slider" type="SliderType" />

  <!-- <Switch>...</Switch> -->
  <xsd:complexType name="SwitchType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ActionableType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Switch" type="SwitchType" />

  <!-- <Table>...</Table> -->
  <xsd:complexType name="TableType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Table" type="TableType" />

  <!-- <TableBody>...</TableBody> -->
  <xsd:complexType name="TableBodyType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TableBody" type="TableBodyType" />

  <!-- <TableCell>...</TableCell> -->
  <xsd:complexType name="TableCellType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TableCell" type="TableCellType" />

  <!-- <TableHead>...</TableHead> -->
  <xsd:complexType name="TableHeadType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TableHead" type="TableHeadType" />

  <!-- <TableHeader>...</TableHeader> -->
  <xsd:complexType name="TableHeaderType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TableHeader" type="TableHeaderType" />

  <!-- <TableRow>...</TableRow> -->
  <xsd:complexType name="TableRowType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="ChildrenOnlyType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TableRow" type="TableRowType" />

  <!-- <Textarea>...</Textarea> -->
  <xsd:complexType name="TextareaType" mixed="true">
    <xsd:complexContent>
      <xsd:extension base="TextInputType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Textarea" type="TextareaType" />

</xsd:schema>
